<div class="card">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img [src]=card.snippet.thumbnails.medium.url class="img-fluid" />
        <a [routerLink]="['detailed', card.id]">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
    </div>
    <div class="card-body">
        <div class="group-buttons d-flex">
            <div class="group-buttons-wrapper m-2">
                <button type="button" class="btn btn-sm btn-floating">
                    <img src="./assets/icons/viewed.svg">
                </button>
                <span class="group-buttons-counter">{{card.statistics.viewCount}}</span>
            </div>
            <div class="group-buttons-wrapper m-2">
                <button type="button" class="btn btn-sm btn-floating" data-mdb-ripple-color="dark">
                    <img src="./assets/icons/liked.svg">
                </button>
                <span class="group-buttons-counter">{{card.statistics.likeCount}}</span>
            </div>
            <div class="group-buttons-wrapper m-2">
                <button type="button" class="btn btn-sm btn-floating">
                    <img src="./assets/icons/dislike.svg">
                </button>
                <span class="group-buttons-counter">{{card.statistics.dislikeCount}}</span>
            </div>
            <div class="group-buttons-wrapper m-2">
                <button type="button" class="btn btn-sm btn-floating">
                    <i class="fas fa-object-ungroup"></i>
                </button>
                <span class="group-buttons-counter">{{card.statistics.commentCount}}</span>
            </div>
        </div>
        <h5 class="card-title mb-6">{{card.snippet.title}} {{card.snippet.categoryId}}</h5>
        <a [routerLink]="['detailed', card.id]" class="btn btn-primary">more...</a>
    </div>
    <div class="progress">
        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%;" aria-valuenow="100"
            aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
