.card {
    position: relative;
    max-width: 300px;
    min-width: 300px;
    min-height: 400px;
}

.group-buttons-counter {
    font-size: x-small;
}

.card-body {
    background-color: #E0E0E0;
}

.bottom {
    position: absolute;
    bottom: 20px;
}