<div class="filter-panel mt-5">
    <div class="filter-panel-container d-flex justify-content-center align-items-center">
        <span>Sorting by:</span>
        <ul class="nav">
            <li class="nav-item">
                <a (click)="clickDate()" class="nav-link active border-bottom" aria-current="page" href="#">date</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">count of views</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">by word or sentance</a>
            </li>
        </ul>
        <div class="form-outline">
            <input type="text" id="typeText" class="form-control bg-white"  />
        </div>
    </div>
</div>

