<app-header></app-header>
<section class="loginPage container mt-5">
    <div class="loginPageWrappe w-100 p-4 d-flex justify-content-center pb-4">
        <form
          #myForm="ngForm" (ngSubmit)="onSubmit(myForm)" 
          style="width: 22rem;">
            <!-- Login input -->
            <div class="form-outline mb-4">
              <input class="form-control bgDarkgray" 
                type="text" id="form1Example1" 
                [(ngModel)]="valueFromInputLogin"
                (ngModelChange)="listenerInputLogin($event)"
                name="inputLogin"
                #inputLogin
               />
              <label class="form-label" for="form1Example1">Login</label>
            </div>
          
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input class="form-control bgDarkgray" 
                [(ngModel)]="valueFromInputPassword"
                (ngModelChange)="listernerInputPassword($event)"
                type="password" 
                name="inputPassword"
                id="form1Example2"/>
              <label class="form-label" for="form1Example2">Password</label>
            </div>
          
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block">Login</button>
          </form>
    </div>
</section>