<app-header></app-header>
<section class="loginPage container mt-5">
    <div class="loginPageWrappe w-100 p-4 d-flex justify-content-center pb-4">
        <form style="width: 22rem;">
            <!-- Login input -->
            <div class="form-outline mb-4">
              <input class="form-control bgDarkgray" type="email" id="form1Example1" />
              <label class="form-label" for="form1Example1">Login</label>
            </div>
          
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input class="form-control bgDarkgray" type="password" id="form1Example2"/>
              <label class="form-label" for="form1Example2">Password</label>
            </div>
          
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-block">Login</button>
          </form>
    </div>
</section>