<div class="container d-flex justify-content-center mt-5">
    <div class="header_search-panel d-flex justify-content-center justify-content-between">
        <button type="button" class="btn btn-primary d-block">
            <i class="fab fa-youtube"></i>
        </button>
        <form 
        #myForm="ngForm"
        (ngSubmit)="onSubmit(myForm)"
        class="input-group">
            <div class="form-outline">
                <input 
                [(ngModel)]="textInput" 
                type="search" 
                name="inputHeader" 
                id="form1" 
                class="form-control border border-primary"/>
                <label class="form-label" for="form1"></label>
            </div>
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>

        </form>

        <button type="button" class="btn btn-primary d-block">
            <i class="fas fa-stream"></i>
        </button>
        <div class="log-panel d-flex justify-content-center align-items-center">
            <span class="logo_user d-block pr-10 text-center">Your Name</span>
            <button type="button" class="btn btn-primary ms-3">
                <i class="fas fa-user-circle"></i>
            </button>
        </div>
    </div>
</div>
